.model-form-container {
  padding: 1rem;
  
  &.light-theme {
    background-color: #f8f9fa;
  }
  
  &.dark-theme {
    background-color: #343a40;
  }
  
  .model-form-card {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    
    &.light-theme {
      background-color: #ffffff;
      color: #212529;
      border-color: #dee2e6;
    }
    
    &.dark-theme {
      background-color: #495057;
      color: #e9ecef;
      border-color: #6c757d;
    }
  }
  
  .model-form-header {
    &.light-theme {
      background-color: #0d6efd;
      color: #ffffff;
    }
    
    &.dark-theme {
      background-color: #0d6efd;
      color: #ffffff;
    }
  }
  
  .model-form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
  
  // Button styling
  button {
    transition: all 0.15s ease-in-out;

    // Dark theme button styling
    &.dark-theme {
      &.outline-primary {
        border-color: #6ea8fe;
        color: #6ea8fe;
        
        &.hovered {
          background-color: rgba(13, 110, 253, 0.15);
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.1);
        }
      }
      
      &.outline-success {
        border-color: #75b798;
        color: #75b798;
        
        &.hovered {
          background-color: rgba(25, 135, 84, 0.15);
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.1);
        }
      }
      
      &.outline-info {
        border-color: #6edff6;
        color: #6edff6;
        
        &.hovered {
          background-color: rgba(13, 202, 240, 0.15);
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.1);
        }
      }
      
      &.outline-secondary {
        border-color: #a7acb1;
        color: #a7acb1;
        
        &.hovered {
          background-color: rgba(108, 117, 125, 0.15);
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.1);
        }
      }
      
      &.primary {
        background-color: #0d6efd;
        border-color: #0a58ca;
        color: white;
        
        &.hovered {
          background-color: #0b5ed7;
          box-shadow: 0 0 0 0.2rem rgba(49, 132, 253, 0.5);
        }
      }
    }
    
    // Light theme button styling
    &.light-theme {
      &.outline-primary.hovered {
        background-color: rgba(13, 110, 253, 0.1);
        box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
      }
      
      &.outline-success.hovered {
        background-color: rgba(25, 135, 84, 0.1);
        box-shadow: 0 0 0 0.2rem rgba(25, 135, 84, 0.25);
      }
      
      &.outline-info.hovered {
        background-color: rgba(13, 202, 240, 0.1);
        box-shadow: 0 0 0 0.2rem rgba(13, 202, 240, 0.25);
      }
      
      &.outline-secondary.hovered {
        background-color: rgba(108, 117, 125, 0.1);
        box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.25);
      }
      
      &.primary.hovered {
        background-color: #0b5ed7;
        border-color: #0a58ca;
        box-shadow: 0 0 0 0.2rem rgba(49, 132, 253, 0.5);
      }
    }
  }
  
  .submit-button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
